.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
}

.App-header {
	background-color: #282c34;
	min-height: 50vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #09d3ac;
}

.Todo-App {
	padding-top: 20px;
	display: inline-block;
	text-align: left;
}

input {
	font-size: 20px;
}

ul {
	padding: 0;
}

li {
	list-style-type: none;
}